include LICENSE NOTICE README.md README_PYPI.md README_de.md README_es.md INSTALL.md
include dev-requirements.txt
include OAUTH_SETUP.md SECURITY.md CONTRIBUTING.md THIRD_PARTY_LICENSES.md
recursive-include docs *.md
recursive-include examples *.md *.py
recursive-include resources/logo *.png *.svg
recursive-include resources/scripts *.md *.py
recursive-include resources/wordlists *.txt
